.App {
    text-align: center;
        
  
  
}

.button {
    background-color: rgb(90, 150, 12);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 50px;
    border-radius: 2em
}

.field {
    border: none;
    text-decoration: none;
    margin-right: 5px;  
    border-radius: 2em;
    padding: 15px 32px;
    font-size: 16px;
}