.list{
    color: rgb(19, 18, 18);
    width:25%;
    margin-left: 40px;
    background-color:rgba(250, 248, 248, 0.863);
    height:400px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    padding:10px;
    border-radius: 5px;
}